modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]

run = ["npm", "run", "dev"]
build = ["npm", "run", "build"]

hidden = [".config", ".git", "generated-icon.png", "node_modules"]

[nix]
channel = "stable-24_05"
packages = ["dig", "freetype", "git-lfs", "imagemagick", "jq", "k6", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "optipng", "pngquant", "psmisc", "tcl", "tk", "zlib", "yakut", "google-cloud-sdk-gce"]

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_OPTIONS='--max-old-space-size=4096' npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
integrations = ["javascript_database:1.0.0", "javascript_auth_all_persistence:1.0.0", "firebase_barebones_javascript:1.0.0", "javascript_log_in_with_replit:1.0.0", "hubspot:1.0.0", "javascript_gemini_ai_integrations:1.0.0", "google-mail:1.0.0", "google-sheet:1.0.0", "google-calendar:1.0.0", "github:1.0.0", "spotify:1.0.0", "sendgrid:1.0.0"]

[userenv]

[userenv.shared]
GOOGLE_FORMS_SPREADSHEET_ID = "14mRX4qJSABg-EcfONomk-fksegYrcIF_sFaEi3Bm2ss"
ACCOUNTING_SPREADSHEET_ID = "1dGgGUwiTI0htO0SvkzPEkXDWnjiOp8PUZRI3RDk_LJk"
FIREBASE_PROJECT_ID = "signinpetwash"
TWILIO_ACCOUNT_SID = "YOUR_TWILIO_ACCOUNT_SID"
TWILIO_MESSAGING_SERVICE_SID = "YOUR_TWILIO_MESSAGING_SERVICE_SID"
VITE_TURNSTILE_SITE_KEY = "0x4AAAAAACwjyW7Iq8oy0C0Z"
SUPER_ADMIN_EMAILS = "nirhadad1@gmail.com,nir.h@petwash.co.il,ido.s@petwash.co.il,idoshaka@gmail.com,idoshakarzi110@gmail.com"
VITE_FIREBASE_APPCHECK_SITE_KEY = "6LfPr3ksAAAAAAk-gDoRZk6T3bA_t9UNavopPTDJ"
SUPER_ADMIN_ALERT_PHONE = "+61419773360"
ADMIN_APPROVER_EMAIL = "nirhadad1@gmail.com"
SUPER_ADMIN_UID = "vdiboz7IrUQEm2RbdO7VZLkBu552"
FINANCE_AUTHORIZED_EMAILS = "nir.h@petwash.co.il,ido.s@petwash.co.il"

[userenv.development]
DEV_TEST_SECRET = "petwash-dev-test-2026-secret-internal"

[userenv.production]
NODE_ENV = "production"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 23636
externalPort = 80

[[ports]]
localPort = 23637
externalPort = 3001
