modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]

run = ["npm", "run", "dev"]
build = ["npm", "run", "build"]

hidden = [".config", ".git", "generated-icon.png", "node_modules"]

[nix]
channel = "stable-24_05"
packages = ["dig", "freetype", "git-lfs", "imagemagick", "jq", "k6", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "optipng", "pngquant", "psmisc", "tcl", "tk", "zlib", "yakut", "google-cloud-sdk-gce"]

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_OPTIONS='--max-old-space-size=4096' npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
integrations = ["javascript_database:1.0.0", "javascript_auth_all_persistence:1.0.0", "firebase_barebones_javascript:1.0.0", "javascript_log_in_with_replit:1.0.0", "hubspot:1.0.0", "javascript_gemini_ai_integrations:1.0.0", "google-mail:1.0.0", "google-sheet:1.0.0", "google-calendar:1.0.0", "github:1.0.0", "spotify:1.0.0", "sendgrid:1.0.0"]

[userenv]

[userenv.shared]
VITE_PRODUCTION_API_URL = "https://f46fb046-7dd0-4090-af9e-1be17d9de48e-00-15el1m8qkuf16.picard.replit.dev"
GOOGLE_FORMS_SPREADSHEET_ID = "14mRX4qJSABg-EcfONomk-fksegYrcIF_sFaEi3Bm2ss"
ACCOUNTING_SPREADSHEET_ID = "1dGgGUwiTI0htO0SvkzPEkXDWnjiOp8PUZRI3RDk_LJk"
FIREBASE_PROJECT_ID = "signinpetwash"
TWILIO_ACCOUNT_SID = "ACd21e697c18973a5ccf504ac2ee170b6e"
TWILIO_MESSAGING_SERVICE_SID = "MG442e367c8e5c0f70cb245fbd21a6514d"
VITE_TURNSTILE_SITE_KEY = "0x4AAAAAACwjyW7Iq8oy0C0Z"
SUPER_ADMIN_EMAILS = "nirhadad1@gmail.com"

[userenv.development]
DEV_TEST_SECRET = "petwash-dev-test-2026-secret-internal"

[userenv.production]
NODE_ENV = "production"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 23636
externalPort = 80
